{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}MusicVault{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block extra_head %}{% endblock %}
</head>
<body>
    <header>
        <h1>MusicVault</h1>
        <p style="margin: 0 ; font-size: 1.4em; color: #666; font-style: italic;">Aniketh's personal music server</p>
        <nav>
            <ul>
                <li><a href="{% url 'music:home' %}">Home</a></li>
                <li><a href="{% url 'music:song_list' %}">Library</a></li>
                <li><a href="{% url 'music:playlists' %}">Playlists</a></li>
            </ul>
        </nav>
    </header>
    {% block content %}
    {% endblock %}
</body>
</html>