{% extends "base.html" %}
{% block title %}{{ playlist.name }}{% endblock %}

{% block content %}
<h2>{{ playlist.name }}</h2>
<p>{{ playlist.description }}</p>
<p>Created: {{ playlist.created_at }}</p>

<h3>Songs in this Playlist</h3> 
<a href="{% url 'music:playlists' %}">Back to Playlists</a>
<br><br>
<table>
    <tr>
        <th>Title</th>
        <th>Duration</th>
        <th>Actions</th>
    </tr>
    {% for song in playlist.songs.all %}
    <tr>
        <td>{{ song.title }}</td>
        <td>{{ song.duration }}</td>
        <td>
            <a href="#">Play</a>
        </td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="3">No songs in this playlist</td>
    </tr>
    {% endfor %}
</table>


{% endblock %}